<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
  <appSettings>
    <add key="GroupByCount" value="2"/>
    <add key="SourceFile" value="Students.txt"/>
    <add key="TargetFile" value="StudentGroups.txt"/>
  </appSettings>
</configuration>